<html>
    <body>
        <a href="/" style="font-size: 20px;">Home</a>

        <div style="width: 1200px;text-align: center; ">
            <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add Contact</h3>
        
            <form action="/addcontactus_submit" method="post">
                <table align="center" border="1" cellspacing="5">

                    <!-- <tr>
                        <td>User Id</td>
                        <td> <input type="number" name="UID" required></td>
                    </tr> -->
                    <tr>
                        <td>User Name</td>
                        <td> <input type="text" name="UName" required></td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td> <input type="text" name="UEmail" required></td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td> <input type="text" name="Comments" required></td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Add Contact" style="background-color: red; width: 100%;"></td>
                    </tr>
                </table>
                
            </form>
            
        </div>
    </body>
</html>