<html>
<body>
    <a href="/" style="font-size: 20px;">Home</a>
    <div style="width: 1200px; text-align: center;">
        
        <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add User</h3>
    
        <form action="/adduser_submit" method="post">
            <table align="center" border="1" cellspacing="5">
                <!-- <tr>
                    <td>User ID</td>
                    <td><input type="number" name="UID"></td>
                </tr> -->
                <tr>
                    <td>User Name</td>
                    <td><input type="text" name="UName"></td>
                </tr>
                <tr>
                    <td>Address Line 1</td>
                    <td><input type="text" name="PAdd1"></td>
                </tr>
                <tr>
                    <td>Address Line 2</td>
                    <td><input type="text" name="PAdd2"></td>
                </tr>
                <tr>
                    <td>Pincode</td>
                    <td><input type="number" name="Pincode"></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input type="number" name="Contact"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="UEmail"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="Password"></td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Add User" style="background-color: red; width: 100%;"></td>
                </tr>
            </table>
            
        </form>
        
    </div>
</body>
</html>
